.overview {
  width: 100%;
  background-color: #041e42;

  .overview__price {
    display: flex;
    flex-direction: column;

    .overview__price-text {
      color: #ffffff90;
    }

    .overview__price-headline {
      margin: 0;
      font-size: 80px;
    }
  }
  .overview__your-extra-info {
    color: black;
    background-color: white;
  }
}
