.overview {
  width: 100%;
  background-color: #041e42;
  overflow-y: auto;
  height: 100%;

  .overview__price {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding-top: 98px;
    padding-bottom: 24px;

    .overview__price-text {
      color: #ffffff;
      margin: 0;
    }

    .overview__price-headline {
      margin: 0 0 24px 0;
      font-size: 80px;
    }
  }

  .overview__your-info {
    max-width: 600px;
    padding: 32px 16px 48px 16px;

    .overview__your-info_headline {
      padding-bottom: 24px;
      display: flex;
      justify-content: space-between;
      margin: 0;
    }
    .overview_your-info__table {
      width: 100%;
      border-collapse: collapse;

      & th,
      & td {
        border-top: 1px solid #dbdfe6;
        padding: 8px 0;
      }

      & th {
        text-align: left;
      }

      & td {
        text-align: right;
      }
    }
  }
  .overview__your-extra-info {
    max-width: 600px;
    color: black;
    background-color: white;
    padding: 48px 16px 48px 16px;

    .overview__your-extra-info_list {
      list-style: none;
      padding: 0;
      margin: 0;

      li:not(:first-child) {
        padding: 24px 0 0 0;
      }

      & li {
        & h6 {
          margin: 0 0 8px 0;
        }
      }
    }
  }

  .overview__your-option {
    max-width: 600px;
    color: black;
    background-color: white;
    border-top: 1px solid #dbdfe6;
    border-bottom: 1px solid #dbdfe6;

    .overview__your-option_detail {
      padding: 8px 0;

      &:hover {
        cursor: pointer;
      }

      .overview__your-option_detail_summary {
        padding: 8px;
      }
    }

    .overview__your-option_table {
      width: 100%;
      border-collapse: collapse;

      td:not(:first-child) {
        background-color: #f9fafb;
      }

      & td,
      & th {
        padding-top: 8px;
        padding-bottom: 16px;
        color: rgba(13, 15, 19, 0.6);
        font-weight: 400;
      }

      & td {
        border-top: 1px solid #dbdfe6;
      }
    }
  }

  .overview_sign-up {
    max-width: 600px;
    padding: 24px 16px;
    color: black;
    background-color: white;
  }
}
