.overview {
  width: 100%;
  background-color: #041e42;
  overflow-y: auto;
  height: 100%;

  .overview__price {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding-top: 98px;
    padding-bottom: 24px;

    .overview__price-text {
      color: #ffffff;
      margin: 0;
    }

    .overview__price-headline {
      margin: 0;
      font-size: 80px;
    }
  }

  .overview__your-info {
    max-width: 600px;
    padding: 24px 16px;
    .overview__your-info_headline {
      padding-bottom: 24px;
      display: flex;
      justify-content: space-between;
      margin: 0;
    }
    .overview_your-info__table {
      width: 100%;
      border-collapse: collapse;

      & th,
      & td {
        border-top: 1px solid grey;
        padding: 8px 0;
      }

      & th {
        text-align: left;
      }

      & td {
        text-align: right;
      }
    }
  }
  .overview__your-extra-info {
    max-width: 600px;
    color: black;
    background-color: white;
    padding: 24px 16px;

    .overview__your-extra-info_list {
      list-style: none;
      padding: 0;

      & li {
        padding: 16px 0;
      }
    }
  }

  .overview__your-option {
    max-width: 600px;
    color: black;
    background-color: white;
  }
}
