nav {
  display: flex;
  justify-content: space-between;
  height: 64px;
  width: 100%;
  background: transparent;
}

.loading-nav {
  background-color: white;
}

.nav-btn {
  border: none;
  background: transparent;
  padding: 16px;
  &:hover {
    cursor: pointer;
  }
}
