.main {
  display: flex;
  height: calc(100vh - 64px);
  color: var(--tds-white);
  width: 100%;
  background-image: url(../../public/app-background.svg);
  background-position: center center; // Center the background image horizontally
  background-size: cover; // Cover the entire height and width of the element
  background-repeat: no-repeat; // Prevent the background from repeating
}
