section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: auto;
}

.container {
  width: 100%;
  max-width: 342px;
}

.license-plate {
  display: flex;
  align-items: center;
  background-color: white;
  font-family: "Scania Sans Headline", arial, helvetica, sans-serif;
  border-radius: 4px;
  height: 56px;
  width: 100%;
  overflow: hidden;
}

.license-plate .eu-section {
  background-color: #2b70d3;
}

.license-plate input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 16px;
  padding: 4px 8px;
  margin-left: 10px;
  text-align: center;

  color: var(--Grey-958, #0d0f13);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 3.84px;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  text-transform: uppercase;

  &::placeholder {
    color: #0d0f13;
    opacity: 0.1;
  }
}

.start-center {
  padding-top: 64px;
}

.start-center {
  margin-top: 64px;
}

.start-bottom {
  margin-top: 192px;
}

.secondary-button {
  display: flex;
  height: 56px;
  padding: 18px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.48);
  background-color: transparent;
  color: white;

  width: 100%;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.14px;

  &:hover {
    border: 1px solid rgba(255, 255, 255, 1);
  }
}
